body {
    background: linear-gradient(90deg, #75f9fc 0%, #FC00FF 100%);
}

#register input[type="submit"] {
    font: 600 16px/18px "Roboto", Helvetica, Arial, sans-serif;
}

#login input[type="submit"] {
    font: 600 16px/18px "Roboto", Helvetica, Arial, sans-serif;
}